:root {
  --orange: #E8491F;
  --rood: #651123;
  --beige: #FEEFE3;
  --roze: #D37FAB;
  --geel: #FDC759;
  --blauw: #C4D4DB;
  --lichtroze: #DEACAA;
}

@font-face {
  font-family: 'GG Sans 2';
  src: url('fonts/GGSans2.ttf') format('truetype'); /* pas bestandsnaam aan als nodig */
}

@font-face {
  font-family: 'Mono and Friends DO';
  src: url('fonts/MonoAndFriendsDO.ttf') format('truetype');
}

@font-face {
  font-family: 'Chunky Monkey';
  src: url('fonts/ChunkyMonkey.otf') format('opentype');
}

/*Opmaak informatiepagina's*/
.container {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.back-button {
  display: flex;
  align-items: center;
  color: #6c1222;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  text-decoration: none;
  gap: 8px;
  font-family: 'GG Sans 2';
}

.back-button img {
  height: 40px;
  width: auto;
  display: block;
}

.arrow {
  font-size: 24px;
  margin-right: 8px;
}

.main-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.info-box {
  background-color: #6c1222;
  color: white;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden; /* << Belangrijk voor ronde hoeken! */
}

.info-box h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 30px;
  font-family: 'GG Sans';
}

.info-box p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'GG Sans';
  font-weight: 200;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 16px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 12px; /* Geeft zelf ook afgeronde hoeken */
  display: block;
}