:root {
  --orange: #E8491F;
  --rood: #651123;
  --beige: #FEEFE3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: var(--beige);
      padding-bottom: 120px;
}

button {
    background: none;  
    border: none;      
    padding: 0;        
    font: inherit;     
    color: inherit;    
    text-align: left;  
    cursor: pointer;   
}

.nav_down{
    background-color: var(--beige);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -3px 10px 0px rgba(230, 215, 174, 0.8);

    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.nav_up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: none; 
}

#open-custom-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: left;
    color: #203336;
    border: none;
}

#custom-overlay {
    position: fixed;
    top: 0;
    left: 20%; 
    width: 80%; 
    height: 100%;
    background-color: rgba(255, 248, 230, 0.95);
    display: none; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

    padding: 2rem;
    z-index: 2000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
}

nav button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

nav button img {
  width: 60px; /* of jouw gewenste grootte */
  height: auto;
  margin-bottom: 5px; /* ruimte tussen img en p */
}

nav button p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

.overlay-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.close-btn img {
  width: 40px;
  height: 40px;
  display: block;
}

#custom-overlay.active {
  display: flex;
  pointer-events: auto;
  opacity: 1;
}
  
#custom-overlay h2 {
    margin-bottom: 2rem;
    color: var(--rood)
}
  
#custom-overlay button {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--rood);
    text-decoration: none;
    font-weight: bold;
}

#open-custom-overlay p{
    font-family: 'Poppins';
}

.link_arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    gap: 20px; 
}

.link_arrow img {
    height: 20px;
    width: auto;
  }

.line{
    width:100%;
    border-width:0.01px; 
    text-align:left;
    margin-left:0;
    border-color: var(--rood);

}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--beige);
}

.leaflet-rotated {
    transform-origin: center;
    transform: scale(1.5) rotate(45deg);
}

#custom-overlay.active {
  display: flex;
  pointer-events: auto;
  opacity: 1;
}

/*-----------Zonnetje-----------*/
.back {
margin-top: 1em;
margin-left: 1em;
  text-decoration: none;
  color: var(--rood);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px; /* ruimte tussen img en tekst */
}

.back img {
  height: 50px;
  width: auto;
  display: block;
  margin: 0;
}

.back p {
  margin: 0;
}

.sun{
    text-align: center;
    margin: 1em;
}

.sun_options{
    text-align: center;
}

.sun_options a{
    text-decoration: none;
    color: var(--rood);
    font-size: 1.5rem;
    font-weight: bold;
}

.option {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--rood);
  border: none;
  margin: 0.5em 4em;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.option img:first-child {
  height: 40px;
  margin-right: 15px;
}

.option p {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.option img:last-child {
  height: 20px;
  margin-left: 15px;
}

.call{
    margin-top: 5%;
    text-align: center;
}

.call_descr{
    text-align: center;
    margin-top: 40px;
    font-size: 1.2rem;	
}

.call a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: white;
  padding: 2% 15%;
  width: 80%;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.5rem;
  gap: 10px;
  margin: 0 auto;/* ruimte tussen img en tekst */
}

.call a img{
    height: 35px;
    width: auto;
    margin: 0;
}

/*-----------FAQ-----------*/
.qa-item {
  margin-bottom: 1.5em;
  position: relative;
}

.qa-item:not(:last-child) {
  padding-bottom: 1.5em; /* Ruimte tussen de vraag en de lijn */
}

.qa-item:not(:last-child)::after {
  content: ''; /* Zorgt ervoor dat er een lijn komt */
  position: absolute;
  bottom: 0;
  left: 5em; 
  width: calc(100% - 10em); /* Zorgt ervoor dat de lijn niet helemaal van links naar rechts komt */
  height: 2px;
  background-color: var(--orange);
}

.question {
  margin: 1em 5em;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.question img {
  height: 20px;
  width: auto;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.question.open .arrow-container {
  transform: rotate(90deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin: 0 5em;
}

.answer.open {
  max-height: 500px;
  border: var(--rood) solid 4px;
  border-radius: 10px;
  padding: 1em;
}


/*-----------hulp-----------*/
.container_hulp{
  text-align: center;
}

.container_hulp h2{
  font-size: 2em;
  text-decoration: underline;
}

#sun_hulp_img{
    height: 200px;
    width: auto;
    margin: 4em 1em;
}

.ehbo_kaart {
    display: flex;
    align-items: center; 
    gap: 10px; 
    justify-content: center;
}

.ehbo_kaart a {
    font-size: 1.5rem; 
    text-decoration: underline ; 
    color: var(--rood);

}

.ehbo_kaart img {
    width: 40px; 
    height: auto;
}

#nood_note{
    margin-top: 20%;
    font-size: 1.2em;
}

.call_nood{
    margin-top: 2%;
    text-align: center;
}

.call_nood a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: white;
  padding: 2% 15%;
  width: 80%;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.1rem;
  gap: 10px;
  margin: 0 auto;/* ruimte tussen img en tekst */
}

.call_nood a img{
    height: 35px;
    width: auto;
    margin: 0;
}