:root {
  --orange: #E8491F;
  --rood: #651123;
  --beige: #FEEFE3;
  --roze: #D37FAB;
  --geel: #FDC759;
  --blauw: #C4D4DB;
  --lichtroze: #DEACAA;
}

#info-overlay {
  position: fixed;
   padding-top: 1em;
  display: none;
  bottom: 90px; /* in plaats van 0 */
  left: 0;
  width: 100%;
  max-height: calc(80% - 60px); /* optioneel aanpassen als nodig */
  background: var(--beige);
  border-top: var(--orange) 2px solid;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateY(calc(100% - 60px - 20px)); /* altijd 60px zichtbaar */
}

#info-overlay-close-btn {
  position: fixed;
  top: 40px;
  left: 20px;
  display: flex;
  align-items: center;
  z-index: 1101;
  cursor: pointer;
  display: none;
  
}

#info-overlay-close-btn img {
  width: 40px;
  height: 40px;
}

#info-overlay-close-btn span {
  font-size: 1rem;
  font-weight: bold;
  color: var(--rood);
}


#info-overlay.open {
  transform: translateY(0);
}

#info-overlay-header {
  height: 60px;
  padding: 0 20px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#info-overlay-header h2 {
  font-size: 2rem;
  flex: 1;
}

#info-overlay-header .header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

#info-overlay-header img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#info-overlay-content {
  padding: 20px;
  overflow-y: auto;
  max-height: calc(80vh - 60px);
}

.info-overlay-information{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  gap: 10px;
}

.info-overlay-information img{
  width: 30px;
  height: auto;
}

.info-overlay-information a{
 color: var(--rood);
}

.info-overlay-advice {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1em;
}

.sun-icon {
  width: 170px;
  height: auto;
  flex-shrink: 0;
}

/* ✅ Nieuwe versie zonder aparte img */
.speech-bubble {
  width: 230px;
  height: 180px;
  background-image: url('images/ballon_advies.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;

  position: relative;
}

.speech-bubble p {
  position: absolute;
  top: 40px;
  left: 30px;
  right: 45px;
  bottom: 20px;
  font-size: clamp(0.5rem, 2.7vw, 2rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}