* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #203336;
}

nav{
    background-color: #FFF8E6;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: flex;
    justify-content: space-around; /* ruimte tussen de items */
    align-items: center;
}

.nav_up{
    margin: 1.5em;
    display: flex;
    justify-content: space-between; /* ruimte tussen de items */
    align-items: center;
}

#filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFF8E6;
}

#filter img {
    width: 40px; /* of wat je wil */
    height: auto;
  }

#map {
    width: 90%; 
    height: 600px;
    border: 2px solid black;
    margin: 2% auto;
    position: relative;
    background-color: #FFF8E6;
    border-radius: 10px;
}

.leaflet-rotated {
    transform-origin: center;
    transform: scale(1.5) rotate(45deg); /* Pas de schaal en rotatiehoek aan naar wens */
}
