:root {
  --orange: #E8491F;
  --rood: #651123;
  --beige: #FEEFE3;
  --roze: #D37FAB;
  --geel: #FDC759;
  --blauw: #C4D4DB;
  --lichtroze: #DEACAA;
}

@font-face {
  font-family: 'GG Sans 2';
  src: url('fonts/GGSans2.ttf') format('truetype'); /* pas bestandsnaam aan als nodig */
}

@font-face {
  font-family: 'Mono and Friends DO';
  src: url('fonts/MonoAndFriendsDO.ttf') format('truetype');
}

@font-face {
  font-family: 'Chunky Monkey';
  src: url('fonts/ChunkyMonkey.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--beige);
      padding-bottom: 120px;
}

button {
    background: none;  
    border: none;      
    padding: 0;        
    font: inherit;     
    color: inherit;    
    text-align: left;  
    cursor: pointer;   
}

#zon_logo{
    height: 90px;
    width: auto;
    margin: 0;
}

#zoom-reset{
   display: flex;
   gap: 10px;
   max-height: 100px;
}

.reset, .plus, .min{
  width: 50px;
  height: 50px;
}

/*-----------map-----------*/

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--beige);
}

.leaflet-rotated {
    transform-origin: center;
    transform: scale(1.5) rotate(45deg);
}

/*-----------Zonnetje-----------*/
.back {
margin-top: 1em;
margin-left: 1em;
  text-decoration: none;
  color: var(--rood);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 8px; /* ruimte tussen img en tekst */
}

.back img {
  height: 50px;
  width: auto;
  display: block;
  margin: 0;
}

.back p {
  margin: 0;
}

.sun_menu{
    text-align: center;
}

.sun_menu img{
    height: 140px;
    width: auto;
}

.sun_options{
    text-align: center;
}

.sun_options a{
    text-decoration: none;
    color: var(--rood);
    font-size: 1rem;
    font-weight: bold;
}

.option {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--rood);
  border: none;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border-radius: 10px;
}

.option img:first-child {
  height: 40px;
  margin-right: 15px;
}

.option p {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.option img:last-child {
  height: 20px;
  margin-left: 15px;
}

.call{
    margin-top: 3%;
    text-align: center;
}

.call_descr{
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;	
}

.call a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: white;
  padding: 2% 15%;
  width: 80%;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.5rem;
  gap: 10px;
  margin: 0 auto;/* ruimte tussen img en tekst */
}

.call a img{
    height: 35px;
    width: auto;
    margin: 0;
}

/*-----------intro-----------*/
.intro_zon{
  height: 250px;
}
.intro_tekst {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 400px;
}

.ballon-tekst {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  color: var(--beige);
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
  font-weight: normal;
}

.knoppen {
  margin-top: 20px;
}

.knoppen a {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 20px;
  background-color: var(--orange);
  color: var(--beige);
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.5em;
}