/*-----------tutorial-----------*/
body {
  overflow: hidden;
}

#custom-overlay_tutorial{
  display: none;
}

.tutorial_kaart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}

.tutorial_kaart img {
  height: 400px;
  width: auto;
}

.nav_up_tutorial{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: none;  
}

.nav_up_tutorial_2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  background: none;  
}

#zoom-reset_tutorial {
  display: flex;
  align-items: center;
  gap: 10px;
}

#zoom-buttons_tutorial {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#reset-map {
  padding: 0 1em;
  height: 35px;
  line-height: 35px;
  min-width: 80px;
  text-align: center;
  font-weight: 800;
  background-color: var(--orange);
  color: var(--beige);
  border-radius: 5px;
}

.logo {
  width: 30px;
  height: 30px;
}

.skip_tutorial {
  position: fixed;
  bottom: 200px;
  left: 20px;
  z-index: 2000;
  background: var(--orange);
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.skip_tutorial a {
  text-decoration: none;
  color: var(--beige);
}

.button_tutorial_next{
  z-index: 2001;
  position: fixed;
  bottom: 50%;
  right: 10px;
}

.button_tutorial_back{
  z-index: 2001;
  position: fixed;
  bottom: 50%;
  left: 10px;
}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgba(10, 9, 9, 0.4);
  z-index: 1001;
}

.overlay2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 500;
}

.overlay3 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1001;
}

.overlay4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1; 
}

/*---------stap 1---------*/
.tutorial-ballon-container_1 {
  position: fixed;
  top: 4vh;
  left: 4vw;
  z-index: 2000;

  display: flex;
  align-items: flex-start;
}

.tutorial-ballon_1 {
  width: 230px;
  height: 150px;
  background-image: url('images/text_tutorial1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_1 p {
  position: absolute;
  top: 25%;
  left: 25%;
  right: 10%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_1 {
  width: 140px;
  height: auto;
  flex-shrink: 0;
}

/*---------stap 2---------*/
.tutorial-ballon-container_2 {
  position: fixed;
  top: 15vh;
  left: 4vw;
  z-index: 2000;
  display: flex;
  align-items: flex-start;
}

.tutorial-ballon_2 {
  top: 5vh;
  width: 230px;
  height: 160px;
  background-image: url('images/text_tutorial1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_2 p {
  position: absolute;
  top: 30%;
  left: 25%;
  right: 10%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 0.9rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_2 {
  width: 140px;
  height: auto;
  flex-shrink: 0;
}

#arrow_tutorial2{
  position: fixed;
  top: 12vh;
  right: 10vh;
  z-index: 2000;
}

#arrow_tutorial2 img{
  height: 70px;
}

/*---------stap 3---------*/
.tutorial-ballon-container_3 {
  position: fixed;
  top: 4vh;
  left: 4vw;
  z-index: 2000;

  display: flex;
  align-items: flex-start;
}

.tutorial-ballon_3 {
  width: 230px;
  height: 130px;
  background-image: url('images/text_tutorial1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_3 p {
  position: absolute;
  top: 35%;
  left: 25%;
  right: 10%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_3 {
  width: 140px;
  height: auto;
  flex-shrink: 0;
}

/*---------stap 4---------*/
.tutorial-ballon-container_4 {
  position: fixed;
  bottom: 40vh;
  left: 150px;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  z-index: 2000;
}

.tutorial-ballon_4 {
  width: 300px;
  height: 200px;
  bottom: 15vh;
  margin: 0;
  padding: 0;
  left: 80px;
  background-image: url('images/text_tutorial4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_4 p {
  position: absolute;
  top: 14%;
  left: 25%;
  right: 25%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_4 {
  width: 140px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

#arrow_tutorial4{
  position: fixed;
  bottom: 120px;
  left: 200px;
  z-index: 2000;
}

#arrow_tutorial4 img{
  height: 100px;
  width: auto;
}

/*---------stap 5---------*/
.tutorial-ballon-container_5 {
  position: fixed;
  bottom: 30vh;
  left: 150px;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  z-index: 2000;
}

#custom-overlay_tutorial_5{
  display: none;
}

.tutorial-ballon_5 {
  width: 250px;
  height: 160px;
  bottom: 15vh;
  margin: 0;
  padding: 0;
  left: 80px;
  background-image: url('images/text_tutorial4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_5 p {
  position: absolute;
  top: 18%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_5 {
  width: 140px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

#arrow_tutorial5{
  position: fixed;
  bottom: 120px;
  right: 50px;
  z-index: 2000;
}

#arrow_tutorial5 img{
  height: 120px;
  width: auto;
}

.nav_up_tutorial5{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
  background: none; 
}

/*---------stap 6---------*/
.tutorial-ballon-container_6 {
  position: fixed;
  top: 20vh;
  left: 120px;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  z-index: 2000;
}

.tutorial-ballon_6 {
  width: 270px;
  height: 170px;
  bottom: 15vh;
  margin: 0;
  padding: 0;
  left: 100px;
  background-image: url('images/text_tutorial6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_6 p {
  position: absolute;
  top: 18%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_6 {
  width: 180px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

#arrow_tutorial6{
  position: absolute;
  bottom: 35vh;
  left: 180px;
  z-index: 2000;
}

#arrow_tutorial6 img{
  height: 120px;
  width: auto;
}

.tutorial_kaart_6 {
  display: flex;
  align-items: left;
  justify-content: left;
}

.tutorial_kaart_6 img {
  height: 850px;
  width: auto;
}

#icon_tutorial6{
  position: absolute;
  z-index: 2000;
  bottom: 25vh;
  left: 250px;
}

#icon_tutorial6 img{
  height: 80px;
  width: auto;
}

.skip_tutorial_6 {
  position: fixed;
  bottom: 120px;
  left: 20px;
  z-index: 2000;
  background: var(--orange);
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.skip_tutorial_6 a {
  text-decoration: none;
  color: var(--beige);
}

/*---------stap 7---------*/
#arrow_tutorial7{
  position: fixed;
  top: 20px;
  left: 120px;
  z-index: 2000;
}

#arrow_tutorial7 img{
  height: 120px;
  width: auto;
}

#zon_logo_tutorial{
  height: 90px;
  width: auto;
  margin: 0;
  position: fixed;
  z-index: 2000;
  top: 10px;
  left: 10px;
}

.tutorial-ballon-container_7 {
  position: fixed;
  top: 30vh;
  left: 120px;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  z-index: 2000;
}

.tutorial-ballon_7 {
  width: 270px;
  height: 170px;
  bottom: 15vh;
  margin: 0;
  padding: 0;
  left: 100px;
  background-image: url('images/text_tutorial6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_7 p {
  position: absolute;
  top: 18%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_7 {
  width: 180px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}

/*---------stap 8---------*/
.tutorial-ballon-container_8 {
  position: fixed;
  top: 8vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 2000;
}

.tutorial-ballon_8 {
  width: 270px;
  height: 170px;
  margin: 0;
  padding: 0;
  left: 100px;
  background-image: url('images/text_tutorial8.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.tutorial-ballon_8 p {
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  font-size: clamp(0.9rem, 2vw, 1rem);
  line-height: 1.4;
  color: var(--rood);
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tutorial-zon-icon_8 {
  width: 180px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.btn_kaart {
  position: fixed;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  background: var(--orange);
  padding: 15px 24px;
  border-radius: 30px;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn_kaart a {
  text-decoration: none;
  color: var(--beige);
}

/*responsive*/
@media (min-width: 768px) {
  .button_tutorial_next{
    z-index: 2001;
    position: fixed;
    bottom: 50%;
    right: 50px;
  }

  #open-custom-overlay_tutorial {
    display: none;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: left;
    color: #203336;
    border: none;
  }

  #custom-overlay_tutorial {
    display: block !important;
    transform: translateX(0) !important;
    pointer-events: auto;
    justify-self: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: var(--beige);
    z-index: 0;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 

    padding: 2rem;
    z-index: 2000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    background: #9C938C;
  } 

  #custom-overlay.active_tutorial {
    transform: translateX(0);
    pointer-events: auto;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
  }

  #custom-overlay_tutorial.active {
    display: flex;
    pointer-events: auto;
    opacity: 1;
  }

  #custom-overlay_tutorial h2 {
    margin-bottom: 2rem;
    color: var(--rood);
  }

  #custom-overlay_tutorial button {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--rood);
    text-decoration: none;
    font-weight: bold;
  }

  #open-custom-overlay_tutorial p{
    font-family: 'poppins', sans-serif;
  }

  .tutorial_kaart {
    margin-right: 30%;
    width: calc(100% - 30%);
  }

  .nav_down {
    width: 70%;
  }
  .nav_down_btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .nav_down_btn img{
    width: 30px;
    height: 30px;
  }
  .nav_down_btn p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
  }

  .nav_up_tutorial{
    position: fixed;
    top: 0;
    left: -40%;
    width: 100%;
    margin: 0;
    padding: 1.5em;
   
    z-index: 3000;
    background: none; 
  }

  .nav_up_tutorial_2{
    position: fixed;
    top: 0;
    left: -40%;
    width: 100%;
    margin: 0;
    padding: 1.5em;
   
    z-index: 3000;
    background: none; 
  }

  #arrow_tutorial5{
    position: fixed;
    bottom: 120px;
    right: 45vw;
    z-index: 2000;
    transform: rotate(250deg); 
  }

  #custom-overlay_tutorial_5 {
    display: block !important;
    transform: translateX(0) !important;
    pointer-events: auto;
    justify-self: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: var(--beige);
    z-index: 0;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 

    padding: 2rem;
    z-index: 2000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    background: var(--beige)
  } 

  #custom-overlay.active_tutorial_5 {
    transform: translateX(0);
    pointer-events: auto;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
  }

  #custom-overlay_tutorial_5.active {
    display: flex;
    pointer-events: auto;
    opacity: 1;
  }

  #custom-overlay_tutorial_5 h2 {
    margin-bottom: 2rem;
    color: var(--rood);
  }

  #custom-overlay_tutorial_5 button {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--rood);
    text-decoration: none;
    font-weight: bold;
  }

  .tutorial-ballon-container_8 {
    left: 25%;
  }

  .btn_kaart {
    left: 25%;
  }

  .nav_up_tutorial{
    z-index: 200;
  }
}