:root {
  --orange: #E8491F;
  --rood: #651123;
  --beige: #FEEFE3;
  --roze: #D37FAB;
  --geel: #FDC759;
  --blauw: #C4D4DB;
  --lichtroze: #DEACAA;
}

@font-face {
  font-family: 'Mono and Friends DO';
  src: url('fonts/MonoAndFriendsDO.ttf') format('truetype');
}

@font-face {
  font-family: 'Chunky Monkey';
  src: url('fonts/ChunkyMonkey.otf') format('opentype');
}

/*Opmaak informatiepagina's*/
.container {
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.back-button {
  display: flex;
  align-items: center;
  color: var(--rood);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 16px;
  text-decoration: none;
  gap: 8px;
  font-family: 'GG Sans';
}

.back-button img {
  height: 40px;
  width: auto;
  display: block;
}

.back-button p {
  font-family: 'GG Sans';
}

.arrow {
  font-size: 24px;
  margin-right: 8px;
}

.main-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.info-box {
  background-color: var(--rood);
  color: white;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 16px;
  overflow: hidden; /* << Belangrijk voor ronde hoeken! */
}

.info-box h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 30px;
  font-family: 'GG Sans';
}

.info-box p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'GG Sans';
  font-weight: 200;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-top: 16px;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 12px; /* Geeft zelf ook afgeronde hoeken */
  display: block;
}

.openingsuren{
  margin-top: 20px;
}

.openingsuren table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

.openingsuren th,
.openingsuren td {
  padding: 15px 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

/* Specifiek gelijke breedte voor 3 kolommen */
.openingsuren td:nth-child(1),
.openingsuren th:nth-child(1),
.openingsuren td:nth-child(2),
.openingsuren th:nth-child(2),
.openingsuren td:nth-child(3),
.openingsuren th:nth-child(3) {
  width: 33.33%;
}

.openingsuren thead {
  background-color: var(--rood); /* Donkerrood */
  color: #fff;
  border: #fff solid 1px;
  font-weight: bolder;
  font-size: 18px;
}

.openingsuren tbody tr:hover {
  background-color: #9f4f4f;
}

.openingsuren small {
  font-size: 0.9rem;
  color: #ffffff;
}

.pTabel {
  font-size: 16px;
  font-weight: bolder;
  padding: 5px;
}

.lijn {
  border-top: 1px solid #ffffff;
  margin: 8px auto;
  width: 90%;
  opacity: 0.5;
}